<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>3D_Print</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>myServerlet.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Model_sub</display-name>
    <servlet-name>Model_sub</servlet-name>
    <servlet-class>myServerlet.Model_sub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Model_sub</servlet-name>
    <url-pattern>/Model_sub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpComment</display-name>
    <servlet-name>UpComment</servlet-name>
    <servlet-class>myServerlet.UpComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpComment</servlet-name>
    <url-pattern>/UpComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttentionServlet</display-name>
    <servlet-name>AttentionServlet</servlet-name>
    <servlet-class>myServerlet.AttentionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttentionServlet</servlet-name>
    <url-pattern>/AttentionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadServlet</display-name>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>myServerlet.uploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exitServlet</display-name>
    <servlet-name>exitServlet</servlet-name>
    <servlet-class>myServerlet.exitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exitServlet</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>
</web-app>